button {
  background-color: #ffd401;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: blue;
  cursor: pointer;
  border: none;
  margin: 0 1rem;
}

button:hover {
  background-color: #1c559b;
  color: #ffd401;
}
